@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">
    .orgchart {
        background: #fff;
    }
</style>
<link rel="stylesheet" href="~/lib/jquery.contextmenu/jquery.contextMenu.css" />

@*<div id="" style="overflow-x:scroll; overflow-y:hidden;">*@

<div class="row">
    <div class="col-6 p-2">
         <strong>Activity</strong>
        <select class="form-select" id="ddlActivities" onchange="activityChange(this)"></select>
    </div>
    <div class="col-6 p-2">
        <strong>Sub-Activity</strong>
            <select class="form-select" id="ddlSubActivities" onchange="activityChange(this)"></select>
     </div>
</div>
<hr />
<div class="row">
    <div class="col-12 p-2">
        <div class="text-center">
            <div id="chart-container" style="max-width : 100%; min-height : 100%; overflow:scroll;"></div>
        </div>
    </div>
</div>



<div class="modal" id="modalContentSubActivity" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="spanSubActivityTitle"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="frmUpdateSubActivity">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group p-3">
                            <label>Sub-Activity Name</label>
                            <input class="form-control" id="txtSubActivityName" name="txtSubActivityName" />
                        </div>
                      
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary" onclick="submitFormSubActivity()">Save changes</a>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal" id="modalContent" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="spanWfTitle"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="currentTaskValues">
                <div class="row">
                        <div class="col-4 p-3">
                            <h5><strong>Role</strong></h5>
                            <label id="lblCurrentRoleName"></label>
                        </div>
                        <div class="col-4 p-3">
                            <h5><strong>Task</strong></h5>
                            <label id="lblCurrentTaskDesc"></label>
                        </div>
                        <div class="col-4 p-3">
                            <h5><strong>Verb</strong></h5>
                            <label id="lblCurrentVerbName"></label>
                        </div>
                </div>
            </div>
           
            <form id="frmAddEditTask">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group p-3">
                            <label id="lblRole"></label>
                            <select id="ddlRoles" name="ddlRoles" class="form-select">
                            </select>
                        </div>

                        <div class="form-group p-3" style="display:none">
                            <label>Task</label>
                            <select id="ddlTasks" name="ddlTasks" class="form-select" onchange="onTaskChange(this)">
                            </select>
                        </div>

                        <div class="form-group p-3">
                            <label id="lblVerb"></label>
                            <select id="ddlVerbs" name="ddlVerbs" class="form-select"></select>
                        </div>

                        <div class="form-group p-3">
                            <label id="lblTask"></label>
                            <textarea id="txtTaskDesc" name="txtTaskDesc" class="form-control" rows="3"></textarea>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary" onclick="submitTaskForm()">Save changes</a>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery.contextmenu/jquery.contextMenu.js"></script>
   
    <script src="~/js/index.js"></script>

}

