@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <style type="text/css">
   
    .orgchart { background: #fff; }

   
  </style>
<div class="text-center">
    <div id="chart-container"></div>
</div>

@section Scripts
{
   
    <script src="~/js/index.js"></script>
   
}

